<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711014056706-etnrpvdpbhnvs2i9rg09a7s1oqt1mq63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711014056706-etnrpvdpbhnvs2i9rg09a7s1oqt1mq63</string>
	<key>API_KEY</key>
	<string>AIzaSyAx-amb0Ayx8vyHP_lMgG_kDtQf-3pPi5g</string>
	<key>GCM_SENDER_ID</key>
	<string>711014056706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barbershopapp.bryanguzman</string>
	<key>PROJECT_ID</key>
	<string>barber-app-e6f79</string>
	<key>STORAGE_BUCKET</key>
	<string>barber-app-e6f79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711014056706:ios:eeb46c76c4cbb5274e781b</string>
</dict>
</plist>