<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062509959853-p76arsjh22bhe4ntgu3ffe7re2qo31h3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062509959853-p76arsjh22bhe4ntgu3ffe7re2qo31h3</string>
	<key>API_KEY</key>
	<string>AIzaSyDhipmX1QFhkPGUZ2mvv63bGD7gL4NVuXI</string>
	<key>GCM_SENDER_ID</key>
	<string>1062509959853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barber.bryanguzman.barber</string>
	<key>PROJECT_ID</key>
	<string>barber-app-487f1</string>
	<key>STORAGE_BUCKET</key>
	<string>barber-app-487f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062509959853:ios:d789b5c1fbca3f86bcc424</string>
</dict>
</plist>